@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/_all";

$family-sans-serif: 'Josefin Sans', sans-serif;
$family-primary: $family-sans-serif;
$green: #a4a86b;
$pink: #ffcac6;
$navbar-background-color: #000;
$footer-background-color: #000;
$body-background-color: #000;
$control-radius: 0;
$file-radius: 0;
$file-cta-background-color: $red;
$file-cta-color: $white;
$file-name-border-style: none;
$modal-content-width: 900px;
$tablet: 1025px;

//@import "../node_modules/bulma/bulma";

@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/components/level";
@import "../node_modules/bulma/sass/components/modal";
@import "../node_modules/bulma/sass/elements/button";
@import "../node_modules/bulma/sass/elements/container";
@import "../node_modules/bulma/sass/elements/content";
@import "../node_modules/bulma/sass/elements/form";
@import "../node_modules/bulma/sass/elements/image";
@import "../node_modules/bulma/sass/elements/title";
@import "../node_modules/bulma/sass/grid/columns";
@import "../node_modules/bulma/sass/layout/footer";
@import "../node_modules/bulma/sass/layout/section";
@import "../node_modules/bulma/sass/utilities/_all";



p::-moz-selection { color: #59705d;}
p::selection { color: #59705d; }

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}


//////////////////////////////  form styles /////////////////////////////////


.input.is-large, .textarea.is-large {

  font-size: 0.7rem;
  letter-spacing: 0.2em;
  color: white;
  padding: 1.5rem;
  box-shadow: none;
  border-color: #b0b0b0;
  background-color: transparent;
}

.input::placeholder, .textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  letter-spacing: 0.5em;
}

.input:-ms-input-placeholder, .textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  letter-spacing: 0.5em;
}

.input::-ms-input-placeholder, .textarea::-ms-input-placeholder  { /* Microsoft Edge */
  color: white;
  letter-spacing: 0.5em;
}

.file-cta {
  border-color: transparent;
}

.file.is-boxed .file-cta {
  font-size: 0.7rem;
  flex-direction: column;
  height: auto;
  padding: 1.5em 3em;

}

.label, label {
  font-weight: 300;
}

.required:after{
  position: absolute;
  content:"*";
  color: #EE4457;
  top: -10px;
  right: -10px;
}

input[type=submit] {
  padding: 1.2em 6em;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  line-height: 1.5em;
  background: #EE4457;
  color: white;
  margin-top: 20px;
  letter-spacing: 0.2em;
}

input.disabled {
  opacity: 0.5;
  cursor: default;
}



/////////////////////////////  general styles  ///////////////////////////////


.black-bg {
  background-color: $black;
}

.button {
  cursor: pointer;
}

.button-large {
  font-size:  $size-small;
  padding: 2.5em;
  min-width: 300px;
  font-weight: bold;
  letter-spacing: 0.5em;
  border-radius: 0px;
}

.subtitle.is-1 {
  font-size: 4rem;
}

.content {
  color: $black;
  line-height: 2.5em;
}

.modal {
  z-index: 999;
}

.modal-card-body {
  background-color: rgba(10, 10, 10, 0.70);
}

.modal-card-foot, .modal-card-head{
  background-color: rgba(10, 10, 10, 0.70);
  border-top: none;
  border-bottom: none;
}

.modal-close {
  left: auto;
  right: 10px;
  top: 10px;
  position: absolute;
}

.modal-card-body::-webkit-scrollbar {
  width: 0.5em;
}

.modal-card-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: black;
}

.modal-card-body::-webkit-scrollbar-thumb {
  background-color: #333;
  outline: 1px solid slategrey;
}

.modal-card-body .is-size-7 {
  line-height: 1.3em;
}

.modal-card-body .label, .modal-card-body .label:not(:last-child){
  margin-bottom: 0.3em;
  line-height: 1.3em;
}

#join,#team {
  position: relative;
  background-color: $green;

}


#join {
  padding-top: 80px !important;
  background-image:
          url(../assets/images/join_bg_01.svg),
          url(../assets/images/join_camp_promo.jpg);
  background-position:
          left top,
          right top;
  background-size:
          auto 55%,
          contain;
  background-repeat: no-repeat;
}

#join-slogan, #story-slogan, #story-text, #story, #map, #map-text {
  background-repeat:  no-repeat;
}

#join-slogan figure:not(:last-child){
  margin-bottom: 0em;
}

#join-slogan figure img{
  width: 400px;
}


#join-spot-01 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform:translateY(50%) translateX(10%) scale(0.2) ;
}

#story-slogan {
  background-image: url(../assets/images/story_bg_02.svg) ;
  background-position: left top;
  background-size: auto 70%;
}


#story-text {
  background-image: url(../assets/images/story_bg_01.svg) ;
  background-position: center top;
  background-size: auto 100%;

}

#story {
  background-color: $pink;
  padding: 6em 0 0 0;
  background-image: url(../assets/images/story_bg02.jpg) ;
  background-position: 70% top;
  background-size: contain;
}

#story-hidden {
  background-color: $pink;
}

#team {
  .container {
    padding: 3em 0;
  }
}

#team-header {
  background-image: url(../assets/images/team_bg.jpg) ;
  background-repeat:  repeat-x;
  background-size: contain;

}

#team-footer {
  background-image: url(../assets/images/team_footer_bg.jpg) ;
  background-repeat:  repeat-x;
  background-size: contain;

}

#team-spot-01 {
  transform: translateY(35%);
}

#team-spot-02 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform:translateY(50%) translateX(10%) scale(0.2) ;
}

#map {
  padding-top: 2rem;
  background-image: url(../assets/images/castle_bg.jpg) ;
  background-position: right top;
  background-size: 60% auto ;
  background-color: $pink;

  .container {
    padding-bottom: 6em;
  }

}

#map-text {
  background-image: url(../assets/images/castle_bg_01.svg) ;
  background-position: center center;
  background-size: auto 50%;
  z-index: 999;
}

#map-promo {
  background-color: $pink;
  padding-bottom: 6em;
  margin-top: -8em;
}


#story-text, #story-hidden .content, #team-text, #map-text {

    width: 475px;
    margin: 0 auto;
    position: relative;

    p {
      padding: 0 0.5em;
    }
}

#contacts figure img{
  padding: 0.3em;
}


@media screen and (max-width: 420px){

  #join-slogan img {
    width: 270px;
  }

  p {
    font-size: 0.85em;
    line-height: 2.5em;
  }

  .subtitle.is-1 {
    font-size: 2.4rem !important;
  }

}

@media screen and (max-width: 540px){

  #team-header {
    margin-top: 0;
    .image {
      transform: scale(2);
    }
  }

  #team-footer {
    margin-top: 0;
    .image img {
      transform: translateX(50%) scale(2.3) !important;
    }
  }
}


@media screen and (max-width: 540px) and (max-width: 768px){

  #team-header {
    margin-top: 0;
    .image {
      transform: scale(1.7);
    }
  }

  #team-footer {
    margin-top: 0;
    .image img {
      transform: translateX(45%) scale(1.9);
    }
  }

  #map-promo {
    .image img {
      transform: scale(1.4) !important;
    }
  }
}


@media screen and (max-width: 1024px){


  #story-text, #story-hidden .content, #team-text, #map-text {

    max-width: 550px;
    width: auto;
    margin: 0 auto;
    position: relative;

    p {
      padding: 0 1.2em;

    }
  }

  .subtitle.is-1 {

    font-size: 3rem;
  }

  .reverse-column-order {
    display: flex;
    flex-direction: column-reverse;
  }

  #join {
    background-position:
            left top,
            center bottom;
    background-size:
            auto 30%,
            auto 60%;
  }

  #join-button {
    margin-bottom:32em;
  }

  #join-spot-01 {
    transform:translateY(50%) translateX(-20%) scale(0.50) ;
  }

  #join-slogan {

    figure {
      margin: 0 2em;
    }

    img {
      width: 450px;
    }
  }

  #story {
    background-position: left top;
  }

  #map {
    background-image: none;
    .container {
      padding-bottom: initial;
    }
  }

  #team-spot-01 {
    padding: 0 2em;
  }

  #team-footer {
    margin-top: 0;
    .image img {
      transform: translateX(26%) scale(1.2);
    }
  }

}

@media screen and (min-width: 1920px){

  #join {
    background-position:
            20% top,
            70% center;
    background-size:
            auto 50%,
            contain;
  }

  #map {
    background-position: 70% center;
    background-size: contain;
  }
}

#contacts {
  padding: 1.5em;
}

#note {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background: #15c164;
  text-align: center;
  line-height: 3;
  overflow: hidden;
  color: white;
}

#note {
  -webkit-transform: translateY(-50px);
  -webkit-animation: slideDown 4s 0.2s 1 ease forwards;
  -moz-transform:    translateY(-50px);
  -moz-animation:    slideDown 4s 0.2s 1 ease forwards;

}

#closenote {
  display: none;
}

@-webkit-keyframes slideDown {
  0%, 100% { -webkit-transform: translateY(-50px); }
  10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
  0%, 100% { -moz-transform: translateY(-50px); }
  10%, 90% { -moz-transform: translateY(0px); }
}


////////////////////// animations ///////////////////////

.slide-in-left {
  animation: slide-in-left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 200ms both;
}

.fade-in {
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 700ms both;
}

.fade-in-fast {
  animation: fade-in 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.flip-in-hor-bottom {
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1100ms both;
}


@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

////////////////////// menu ///////////////////////////

$color-background: #F5F5F5;
$color-main: #1abc9c;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;

.menu {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: $black;
  -moz-transition: -moz-transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
}

.menu.hidden {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.menu-container {
  position: absolute;
  width: 100%;
  heigh: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin:  0 auto;
  z-index: 999;

  a {
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    overflow: hidden;
    top: 5px;

    &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 0%;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
      transition: .35s ease;
    }
    &:hover:after,
    &:focus:after,
    &:active:after {
      width: 100%;
    }
  }
}

#toggle {
  cursor: pointer;
}

.button-container {
  position: absolute;
  top: 0.7rem;
  right: 2%;
  height: $button-height;
  width: $button-width;
  z-index: 999;
  transition: opacity .25s ease;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
    background: $light;
    border: none;
    height: 5px;
    width: 30px;
    position: absolute;
    top: 0%;
    right: 5%;
    transition:  all .35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $black;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 999;

  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;

    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: $size-5;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;

        &:hover:after,
        &:focus:after,
        &:active:after {
          width: 100%;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: .35s;
        }
      }
    }
  }
}